{% extends 'base.html' %}

{% block link %}

{% endblock link %}

{% block title %}

{% endblock title %}

{% block content %}

    <section class="blog-index-wrapper">
        <div class="blog-articles">
            {% for article in articles %}
            <div class="card">
                <a class="head" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                <p class="preview">{{ article.preview }}</p>
                <div class="footer">
                    <p class="date">{{ article.date|date:"d M, Y" }}</p>
                    <div class="categories">
                        {% for tag in article.tags.all %}
                            <span class="category">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
        {% endfor %}
        <div class="blog-categories">
            <ul class="category-side-menu">
                <li class="header">Categorias</li>
                {% for category in categories %}
                    <li class="category"> 
                        <span><a href="#" class="link">{{ category }}</a></span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock content %}

{% block script %}
{% endblock script %}